* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  position: fixed;
  overflow: hidden;
  margin-top: -100px;
  /* border: 1px solid green; */
  margin-bottom: 12px;
  width: 100%;
}

.navbar {
  /* border: 1px solid red; */
  display: flex;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #4444;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-size: 14.25px;
  letter-spacing: 0.7px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar a:hover{
  text-decoration: underline;
}

.navbar-icons{
  display: flex;
  justify-content: space-around;
  width: 13%;
}

.navbar img {
  display: block;
  /* border: 1px solid rebeccapurple; */
}

.banner {
  margin-top: 100px;
  padding: 20px;
}

.navbar-icons i, .navbar img, .navbuttons{
  cursor: pointer;
}

.navbuttons{
  outline: none;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  padding: 11px 12px 8px;
  background-color: #567B95;
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
}