* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.navbar {
  /* border: 1px solid red; */
  margin-top: -100px;
  width: 100%;
  position: fixed;
  display: flex;
  font-family: Helvetica, sans-serif;
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #4444;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14.25px;
  letter-spacing: 0.7px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-icons {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.navbar img {
  display: block;
  /* border: 1px solid rebeccapurple; */
}

.banner {
  margin-top: 100px;
  padding: 20px;
}

.navbar-icons i,
.navbar img,
.navbuttons,
.social-icon {
  cursor: pointer;
}

.navbuttons {
  outline: none;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  padding: 11px 12px 8px;
  background-color: #567b95;
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.firstfig {
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* border: 10px solid rebeccapurple; */
  font-size: 100%;
  vertical-align: baseline;
  text-size-adjust: 100%;
  margin: 0 auto;
}

.bannerfig {
  width: 100%;
  max-width: 1200px;
}

.banner img {
  width: 100%;
}

.social-and-date a {
  color: #333;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.02em;
  font-family: Helvetica, Arial, sans-serif;
}

.social-and-date a {
  text-decoration: none;
  border-bottom: 1px solid #888;
}

.social-and-date a:hover {
  border: none;
}

.banner-title {
  color: #121212;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: italic;
  margin: 0 20px 1rem;
  max-width: 700px;
  font-size: 2.5rem;
  line-height: 3rem;
}

.image-caption {
  color: #666;
  margin-right: 7px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.banner-author {
  color: #888;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.125rem;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}

.first-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  border: salmon 1px solid;
  margin: 0 auto;
}

.first {
  width: 50%;
}

.social-and-date {
  display: flex;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.social-icons {
  justify-content: left;
  align-content: flex-start;
}

.date {
  color: #333;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1rem;
}

.social-icon {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 100%;
  padding: 7px;
  vertical-align: middle;
  font-size: 15px;
}

.social-icon:not(:last-child) {
  margin-right: 6px;
}
.social-icon:hover {
  background-color: #fff;
}
